<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <style>
        body{
            background-color: #21b1c1;
            
        }
        h1{
            color: red;
        }
        ul{
            color: crimson;
            
        }

    </style>
</head>
<body>
    <h1>About</h1>
    <p>Mani sauc Artūrs Ercmanis</p>
    <h2>Mani hobiji ir:</h2>
    <ul>
        <li>
            Slēpošana
        </li>
        <li>Šaha spēlēšana</li>
        <li>Makšķerēšana</li>
        <li>Programmēšana</li>
        <li>Vidio spēļu spēlēšna</li>
    </ul>
    <h2>Sigulda ir laba pilsēta</h2>
</body>
</html>
